.text-center{
    text-align: center;
     padding: 42%; 
    font-size: large;
    


}
#inputEmail{
    height: 50px;
    width: 250px;
    
}

#inputPassword{
    height: 50px;
    width: 250px;
}
h2{
    color: brown;
    text-align: center;
}
p{
    color: blue;
    border-bottom: blue;
}